
<h3>Please answer the following questions to complete your assessment
</h3>

<div class="panel panel-default">
	<div class="panel-body">

<%= render 'form', patient: @patient %>

</div>
</div>

<%= link_to 'Back', patients_path %>
