
<div class="panel panel-default">
	<div class="panel-head">
		&emsp;<span><h3>Please answer the following questions to complete your assessment</h3> </span>
	</div>
	<div class="panel-body">

<%= render 'form', patient: @patient %>

</div>
</div>

<%= link_to 'Back', patients_path %>
